*{
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #f2f5f7;
}
header{
    background: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(224, 220, 220, 0.75);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(224, 220, 220, 0.75);
    -moz-box-shadow: 1px 1px 1px 1px rgba(224, 220, 220, 0.75);
}
nav ul {
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin: 5px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(102, 101, 101);
}
nav ul .logo{
    font-size: 18px;
    color: rgb(31, 57, 150);
}
nav ul .logo span{
    font-weight: bold;
}
nav ul .active a{
    font-weight: 700;
    color: rgb(31, 57, 150);
}
.btn{
    padding: 5px;
    border: 2px solid rgb(61, 105, 218);
    border-radius: 2px;
    color: rgb(61, 105, 218) ;
    font-weight: 600;
}
.btn-green{
    padding: 7px;
    border: 2px solid rgb(63, 172, 134);
    background: rgb(63, 172, 134) ;
    border-radius: 2px;
    color: rgb(63, 172, 134);
    font-weight: 600;
    color: #fff;
    width: 200px;
}
.float-right{
    float: right;
}
.container{
    margin-top:50px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.title{
    text-align: center;
    color: #333;
}
.title h1, p{
    line-height: 2em;
}
.title small{
    font-weight: 700;
    color: rgb(96, 94, 94);
}
.title select{
    border: 2px solid rgb(61, 105, 218);
    color: rgb(61, 105, 218);
    font-weight: 500;
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 30px;
}
.grid-3 div{
    background: #fff;
    margin-top: 20px;
}
.services{
    margin-top: 40px;
    color: #333;
}
.icon i{
    font-size: 40px;
    margin-bottom: 10px;
    color: rgb(62, 76, 123);
}
.services h2{
    color: rgb(93, 91, 91);
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
}
.services span{
    color: rgb(93, 91, 91);
    
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 50px;
}
.services h4{
    color: rgb(93, 91, 91);
    font-weight: 300;
}
.services h1{
    color: rgb(93, 91, 91);
    font-weight: 300;
}
.grid-3 .item{
    border-radius: 5px;
}
.grid-3 .item:first-child{
    border-top: 23px solid rgb(61, 105, 218);
    border-radius: 5px;
}
.grid-3 .item:first-child::before{
    content: "MOST POPULAR";
    position: relative;
    top: -20px;
    font-size: 14px;
    color: rgb(240, 240, 240);
}
.item p{
    color: #333;
    font-weight: 600;
}
.item.pro, .item.elite{
    padding-top: 50px;
}
div.line{
    border-top: 1px solid grey;
    margin: 10px;
}
.grid-3 .content{
    background: rgb(53, 74, 148);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: justify;
    padding: 10px;
    height: 400px;
}
.grid-3 .content h4{
    color: rgb(246, 242, 242);
    font-weight: 700;
    line-height: 2em;
}
.grid-3 .content h5{
    color: rgb(246, 242, 242);
}
.grid-3 .content p{
    color: rgb(185, 180, 180);
    font-weight: 100;
}
.fixed-button{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-top: -20px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px;
    background: rgb(61, 105, 218);
    color: #fff;
    border: 1px solid rgb(61, 105, 218);
    border-top-left-radius:8px ;
    border-top-right-radius:8px ;
}

@media screen and (min-width:768px) {
    .container{
        width: 750px;
    }
  
}

@media screen and (min-width:992px) {
    .container{
        width: 970px;
    }  
}
@media screen and (min-width:1200px) {
    .container{
        width: 970px;
    }
  
}
@media screen and (max-width: 780px) {
    .grid-3{
      grid-template-columns: repeat(1, 1fr) ;
    }
    .grid-3 .content{
        text-align: center;
        /* padding: 0; */
    }
    .title h1{
        line-height: 1em;
    }
    .float-right{
        float: none;
    }
    nav ul li{
        margin: 0;
        margin-top: 2px;
        margin-left: 1px;
        padding-top: 5px;
    }
  }